/* App.css */
:root {
  --mercury-size: 0.8vmin;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.solar-system {
  position: relative;
  width: 95vmin;
  height: 95vmin;
}

.sun {
  position: absolute;
  width: 7vmin;
  height: 7vmin;
  border-radius: 50%;
  background: radial-gradient(circle, #ff0, #f80, #f00);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orbit {
  position: absolute;
  border: 1px solid #666; /* Color and thickness of the ellipse */
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zi-1 { z-index: 1; }
.zi-2 { z-index: 2; }
.zi-3 { z-index: 3; }
.zi-4 { z-index: 4; }
.zi-5 { z-index: 5; }
.zi-6 { z-index: 6; }
.zi-7 { z-index: 7; }
.zi-8 { z-index: 8; }
.zi-9 { z-index: 9; }
.zi-10 { z-index: 10; }
.zi-11 { z-index: 11; }
.zi-12 { z-index: 12; }
.zi-13 { z-index: 13; }
.zi-14 { z-index: 14; }
.zi-15 { z-index: 15; }
.zi-16 { z-index: 16; }
.zi-17 { z-index: 17; }
.zi-18 { z-index: 18; }
.zi-19 { z-index: 19; }
.zi-20 { z-index: 20; }

.orbit:hover{
  border: 1px solid #f5f08f;
}

.planet-holder {
  position: relative;
  width: 100%;
  height: 100%;
}

.planet {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Define each planet's styles here */
/* Example: */

.mercury {
  width: var(--mercury-size);
  height: var(--mercury-size);
  background-color: #8B4513;
}

.venus {
  width: calc(var(--mercury-size) * 1.5); 
  height: calc(var(--mercury-size) * 1.5);
  background-color: #FFD700;
}

.earth {
  width: calc(var(--mercury-size) * 1.5); 
  height: calc(var(--mercury-size) * 1.5);
  background-color: #0000FF;
}

.mars {
  width: calc(var(--mercury-size) * 1.1); 
  height: calc(var(--mercury-size) * 1.1);
  background-color: #B22222;
}

.jupiter {
  width: calc(var(--mercury-size) * 4); 
  height: calc(var(--mercury-size) * 4);
  background-color: #DAA520;
}

.saturn {
  width: calc(var(--mercury-size) * 3); 
  height: calc(var(--mercury-size) * 3);
  background-color: #D2691E;
}

.uranus {
  width: calc(var(--mercury-size) * 2); 
  height: calc(var(--mercury-size) * 2);
  background-color: #40E0D0;
}

.neptune {
  width: calc(var(--mercury-size) * 2); 
  height: calc(var(--mercury-size) * 2);
  background-color: #0000CD;
}

@keyframes spin {
  0% { 
    transform: translate(-50%, -50%) rotate(0deg); 
  }
  100% { 
    transform: translate(-50%, -50%) rotate(360deg); 
  }
}